<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
    <title>Detalhes.Pokedex</title>
</head>
<header>
    <nav>
        <img src="/img/pokedex.png" class="pok" alt="Pokédex Logo">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
</header>
<body>
    <main class="body">
            <section class="pac1">
                <div class="pac2">
                    <img class="img" src="<%= pokemon.foto %>">
                    <p class="nome"> <%= pokemon.nome %></p>
                    <p class="tipo"> Tipo: <%= pokemon.tipo %></p>
                    <p class="numero"> Número: <%= pokemon.numero %></p>
                    <p class="desc"> Descrição: <%= pokemon.desc %></p>
                    <p class="alt"> Altura: <%= pokemon.altura %></p>
                    <p class="peso"> Peso: <%= pokemon.peso %></p>
                    <p class="categ"> Categoria: <%= pokemon.categ %></p>
                    <p class="habil"> Habilidade: <%= pokemon.habil %></p>
                </div>
            </section>
    </main>
    
    <script src="/js/script.js"></script>

</body>
</html>